body {
  background-color: #555555;
  color: #eeeeee;
  text-align: center;
}

#app {
  padding: 10px;
}

#grid {
  float: left;
  margin-left: 10px;
  padding: 5px;
  background-color: #aaaaaa;
}

.board {
  position: relative;
  margin: 0;
  padding: 0;
}

.board-canvas {
  position: absolute;
  left: 0;
  top: 0;
}

#controls {
  margin-left: 10px;
  float: left;
  text-align: center;
}

#buttons, #steps-container, #randomizer, #resizer, #footer {
  padding: 5px;
  padding-bottom: 10px;
  margin: 5px;
  border-bottom: 2px solid grey;
  width: 100px;
}

#footer {
  text-align: center;
  padding: 10px 0 10px 40px;
  width: 70px;
  border: none;
  background-color: #aaaaaa;
}

#run, #clear, #steps, #steps-lbl,
#random, #threshold, #resize, #columns, #rows {
  width: 40px;
  height: 40px;
  margin: 5px;
  padding: 5px;
  border: none;
  background: none;
  color: #eeeeee;
  font-weight: bold;
}

#columns, #rows, #threshold {
  border: 1px solid #444444;
  box-sizing: border-box;
  border-radius: 5px;
}

#run, #clear, #steps-lbl,
#random, #resize, #columns-lbl, #rows-lbl {
  user-select: none;
}

#resize {
  width: 80px;
}

#run:hover, #clear:hover, #random:hover, #resize:hover {
  background-color: #444444;
}

.disabled-button {
  background: none;
  color: #cccccc;
  opacity: 0.5;
}

#threshold, #columns, #rows {
  padding: 0;
  text-align: center;
}

#columns-lbl, #rows-lbl {
  text-align: center;
  width: 50px;
  display: inline-block;
}

#steps {
  font-weight: bold;
  text-align: left;
}

#steps-lbl {
  text-align: right;
}

#threshold {
  text-align: center;
}

#instructions {
  width: 100%;
  float: left;
  font-size: 12px;
  padding-top: 10px;
}

#for-conway {
  width: 100%;
  float: left;
  font-size: 10px;
  padding-top: 10px;
}

#obituary-link {
  color: white;
}
